
#astrick
{
color:red;}
#heading{
text-decoration:underline;
font-weight:bold;
font-size:20px;}
#hash
{
font-weight:bold;
color:blue;}
p{
margin-bottom:0px;
margin-left:30px;
margin-top:10px;
font-size:18px;
font-style:italic;}
h2{
text-align:center;
text-decoration:underline;
}
td
{
border:1px solid black;
}
#nobord
{
border:#FFFFFF;}

